body {
    font-family: sans-serif;
}
input {
    max-height: 28px !important;
    max-width: 300px;
}
.labl { 
    color: #004080;     
    font-weight: bold; 
}
div > form {
    display: inline-block;
    margin-left: 4rem;
    margin-right: 4rem;
}
.nav-link {
  margin-right :30px;
}
form > * {
    display: inline-block;
    margin-right: 25px;
}
button {
    background: #ff0000 !important;
    color: #fff !important;
}
.Form_Container {
    max-width: 800px;
    margin: 4rem auto 0 auto;
    box-shadow: 1px 1px 10px -6px rgba(128,0,0,0.66);
    padding: 17px 26px;
    border-radius: 4px;
    border-top: 3.5px solid #ff0000;
    border-right: 1px solid #fafafa;
}
